USE [FP_PROC]
GO
/****** Object:  User [DebitNote]    Script Date: 09/11/2025 1:29:25 PM ******/
CREATE USER [DebitNote] FOR LOGIN [DebitNote] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [EDISystem]    Script Date: 09/11/2025 1:29:25 PM ******/
CREATE USER [EDISystem] FOR LOGIN [EDISystem] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Huong_Bui]    Script Date: 09/11/2025 1:29:25 PM ******/
CREATE USER [Huong_Bui] FOR LOGIN [Huong_Bui] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [LogPortal]    Script Date: 09/11/2025 1:29:25 PM ******/
CREATE USER [LogPortal] FOR LOGIN [LogPortal] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [MDS_Admin]    Script Date: 09/11/2025 1:29:25 PM ******/
CREATE USER [MDS_Admin] FOR LOGIN [MDS_Admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [MDS_User]    Script Date: 09/11/2025 1:29:25 PM ******/
CREATE USER [MDS_User] FOR LOGIN [MDS_User] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [panacim]    Script Date: 09/11/2025 1:29:25 PM ******/
CREATE USER [panacim] FOR LOGIN [panacim] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [scan]    Script Date: 09/11/2025 1:29:25 PM ******/
CREATE USER [scan] FOR LOGIN [scan] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [test]    Script Date: 09/11/2025 1:29:25 PM ******/
CREATE USER [test] FOR LOGIN [test] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [thao]    Script Date: 09/11/2025 1:29:25 PM ******/
CREATE USER [thao] FOR LOGIN [thao] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [WeightDECT]    Script Date: 09/11/2025 1:29:25 PM ******/
CREATE USER [WeightDECT] FOR LOGIN [WeightDECT] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [WeightPBX]    Script Date: 09/11/2025 1:29:25 PM ******/
CREATE USER [WeightPBX] FOR LOGIN [WeightPBX] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [DebitNote]
GO
ALTER ROLE [db_owner] ADD MEMBER [EDISystem]
GO
ALTER ROLE [db_owner] ADD MEMBER [Huong_Bui]
GO
ALTER ROLE [db_owner] ADD MEMBER [LogPortal]
GO
ALTER ROLE [db_owner] ADD MEMBER [MDS_Admin]
GO
ALTER ROLE [db_owner] ADD MEMBER [MDS_User]
GO
ALTER ROLE [db_owner] ADD MEMBER [panacim]
GO
ALTER ROLE [db_owner] ADD MEMBER [scan]
GO
ALTER ROLE [db_owner] ADD MEMBER [test]
GO
ALTER ROLE [db_owner] ADD MEMBER [thao]
GO
ALTER ROLE [db_owner] ADD MEMBER [WeightDECT]
GO
ALTER ROLE [db_owner] ADD MEMBER [WeightPBX]
GO
/****** Object:  Table [dbo].[tblMessages]    Script Date: 09/11/2025 1:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMessages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Messages] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tblMessages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMsg]    Script Date: 09/11/2025 1:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMsg](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ChatMsg] [nvarchar](200) NOT NULL,
	[ImgUrl] [nvarchar](100) NULL,
	[FilePath] [nvarchar](100) NULL,
	[Sender] [varchar](50) NOT NULL,
	[Receiver] [varchar](50) NOT NULL,
	[RecevierSeen] [int] NOT NULL,
	[TimeSent] [datetime] NOT NULL,
 CONSTRAINT [PK_tblMsg] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMsgGroup]    Script Date: 09/11/2025 1:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMsgGroup](
	[MsgID] [int] NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[RecevierSeen] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 09/11/2025 1:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[UserID] [varchar](50) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[LevelID] [int] NOT NULL,
	[Section] [nvarchar](50) NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblUser] ADD  CONSTRAINT [DF_tblUser_Status]  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  StoredProcedure [dbo].[Get_user]    Script Date: 09/11/2025 1:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Get_user]
as
begin
select  * from tblUser
end
GO
/****** Object:  StoredProcedure [dbo].[getData_tblMsg]    Script Date: 09/11/2025 1:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getData_tblMsg]
@UserID varchar(20)

AS
BEGIN
	
	select distinct A.ChatMsg,C.FullName,C.Name,A.ImgUrl,A.FilePath, A.Sender,@UserID UserID,A.ID from tblMsg A
	inner join tblMsgGroup B on A.ID=B.MsgID
	inner join tblUser C on A.Sender=C.UserID
	where
	convert(date,A.TimeSent) between CONVERT(date, DATEADD(DAY,-2,GETDATE())) and convert(date,GETDATE()) order by A.ID

	select COUNT(*) NumberMsg from tblMsgGroup where UserID=@UserID and RecevierSeen=0
END
GO
/****** Object:  StoredProcedure [dbo].[getData_tblMsg_Test]    Script Date: 09/11/2025 1:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getData_tblMsg_Test] --'2010281'
@UserID varchar(20)

AS
BEGIN
	
	select distinct A.ChatMsg,C.FullName,C.Name,A.ImgUrl,A.FilePath, A.Sender,@UserID UserID,A.ID,A.TimeSent  from tblMsg A
	inner join tblMsgGroup B on A.ID=B.MsgID
	inner join tblUser C on A.Sender=C.UserID
	where
	convert(date,A.TimeSent) between CONVERT(date, DATEADD(DAY,-300,GETDATE())) and convert(date,GETDATE()) order by A.ID

	select COUNT(*) NumberMsg from tblMsgGroup where UserID=@UserID and RecevierSeen=0
END

GO
/****** Object:  StoredProcedure [dbo].[getMessages]    Script Date: 09/11/2025 1:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getMessages]

@Date varchar(20)
AS
BEGIN
	select Messages,ImageUrl,case when DATEDIFF(MINUTE, CreateDate, GETDATE())>60 then '1' else '0' end as Status ,CreateDate
	from tblMessages where CONVERT(date, CreateDate)=@Date order by  CreateDate desc
END
GO
/****** Object:  StoredProcedure [dbo].[insert_tblMessages]    Script Date: 09/11/2025 1:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[insert_tblMessages]

@Messages nvarchar(max),
@ImageUrl varchar(200)

AS
BEGIN
	insert into tblMessages values(@Messages,@ImageUrl,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[insert_tblMsg]    Script Date: 09/11/2025 1:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[insert_tblMsg]

@ChatMsg nvarchar(max),
@ImgUrl varchar(200),
@FilePath varchar(200),
@Sender varchar(20)

AS
BEGIN
	insert into tblMsg values(@ChatMsg,@ImgUrl,@FilePath,@Sender,'GR',0,GETDATE())
	
	declare @MaxID int
	declare @UserID  varchar(20)
	set @MaxID=(select Max(ID) from tblMsg)
	
	DECLARE mycursor1 CURSOR FOR
	select UserID from tblUser where UserID<>@Sender
	Open mycursor1
	FETCH NEXT FROM mycursor1 INTO @UserID
	WHILE @@FETCH_STATUS=0
		BEGIN
			insert into tblMsgGroup values(@MaxID,@UserID,0)

			FETCH NEXT FROM mycursor1 INTO @UserID
		END
	CLOSE mycursor1
	DEALLOCATE mycursor1
END
GO
/****** Object:  StoredProcedure [dbo].[tblUsers_Valid]    Script Date: 09/11/2025 1:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE  [dbo].[tblUsers_Valid]
	@UserID varchar(50),
	@Password varchar(100)

AS
BEGIN
	select * from tblUser where UserID=@UserID and Password=@Password
END

GO
/****** Object:  StoredProcedure [dbo].[update_tblMsg]    Script Date: 09/11/2025 1:29:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[update_tblMsg]

@UserID varchar(20)

AS
BEGIN
	update tblMsgGroup set RecevierSeen=1 where UserID=@UserID and RecevierSeen=0
END
GO
